header {
    text-align: center;
    background-color: #01A9DB;
    height: 80px;
}
header span {
    color: white;
    font-size: 30px;
    font-weight: bold;
}
aside {
    position: absolute;
    background-color: white;
    top: 107px;
    right: 0%;
    width: 405px;
    height: 82.5%;
}
section {
    background-color: #CCCCCC;
    width: 78.99%;
    height: 770px;
    margin-top: -12px;
}
footer {
    color: white;
    background-color: #01A9DB;
    text-align: center;
    height: 50px;
}
a[name=logow3schools] {
    position: absolute;
    top: 3.4%;
    left: 15px;
}
section p {
    color: #CC0000;
    font-weight: bold;
    font-size: 12px;
}
form.uno {
    display: inline-block;
    width: 40%;
}
form.dos {
    display: inline-block;
    width: 40%;
}
form.tres {
    display: inline-block;
    width: 40%;
}
form.cuatro {
    display: inline-block;
    width: 40%;
}
form.cinco {
    display: inline-block;
    width: 100%;
}
form.seis {
    display: inline-block;
    width: 100%;
}
* {
    color: black;
}
form.uno input, form.tres input {
    position: absolute;
    left: 20%;
}
form.dos input, form.cuatro input {
    position: absolute;
    left: 40%;
}
form.uno label {
    color: #CC0000;
    font-weight: bold;
}
form.dos label {
    color: #B404AE;
    font-weight: bold;
}
form.dos label[name=fecha] {
    color: black;
    font-weight: normal;
}
textarea {
    resize: vertical;
    border: 1px solid #737373;
    width: 70%;
}
input:not[type=button], select { /*Tamaño original: 267px*/
    width: 262px;
	height: auto;
    border: 1px solid #737373;
}
input[type=date] {
    width: 116px; /*Tamaño original: 121px*/
}
input[type=tel] {
    width: 137px; /*Tamaño original: 142px*/
}
input[name=codigopostal] {
    width: 82px; /*Tamaño original: 87px*/
}
input[name=municipio] {
    width: 143px; /*Tamaño original: 148px*/
}
select[name=provincia] {
    width: 86px; /*Tamaño original: 91px*/
}
select[name=pais] {
    width: 146px; /*Tamaño original: 151px*/
}
textarea {
    width: 979px; /*Tamaño original: 984px*/
}
