header {
    background-color: #01A9DB;
    height: 80px;
}
header div {
    display: inline-block;
    margin-top: 5px;
    margin-left: 8px;
}
header span {
    margin-left: 25.15%;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
section {
    display: inline-block;
    background-color: #CCCCCC;
    width: 78.99%;
    height: 760px;
}
aside {
    position: fixed; /*Requerida para que no le afecte el "textarea"*/
    display: inline-block;
    background-color: white;
    width: 20.8%;
    height: 81.2%;
}
aside div, aside p {
    font-weight: bold;
    padding: 5%;
    text-align: center;
}
aside hr {
    margin-left: 20%;
    margin-right: 20%;
}
aside div:hover {
    background-color: #FFFE99;
    margin-left: 20%;
    margin-right: 20%;
}
footer {
    color: white;
    background-color: #01A9DB;
    text-align: center;
    height: 50px;
}
section p {
    color: #CC0000;
    font-weight: bold;
    font-size: 12px;
    margin-left: 8px;
}
fieldset.uno, fieldset.dos, fieldset.tres, fieldset.cuatro {
    display: inline-block;
    width: 47.7%;
}
fieldset.cinco, fieldset.seis {
    display: inline-block;
    width: 98%;
}
* {
    color: black;
}
fieldset.uno input, fieldset.tres input, fieldset.tres select {
    position: absolute;
    left: 9.6%;
}
fieldset.dos input, fieldset.cuatro input {
    position: absolute;
    left: 48.8%;
}
fieldset.uno label {
    color: #CC0000;
    font-weight: bold;
}
fieldset.dos label {
    color: #B404AE;
    font-weight: bold;
}
fieldset.dos label.fecha {
    color: black;
    font-weight: normal;
}
select, input { /*Tamaño original: 267px*/
	height: auto;
    border: 1px solid #737373;
    width: 262px;
}
input[type=date] {
    width: 116px; /*Tamaño original: 121px*/
}
input[type=tel] {
    width: 137px; /*Tamaño original: 142px*/
}
input[name=codigopostal] {
    width: 82px; /*Tamaño original: 87px*/
}
input[name=municipio] {
    width: 143px; /*Tamaño original: 148px*/
}
select[name=provincia] {
    width: 86px; /*Tamaño original: 91px*/
}
select[name=pais] {
    width: 146px; /*Tamaño original: 151px*/
}
input[type=submit] {
    width:80px;
}
textarea {
    resize: vertical;
    border: 1px solid #737373;
    width: 100%; /*Tamaño original: 984px*/
    max-height: 200px;
}
form {
    margin: 8px;
}
section div.botones {
    position: absolute;
    left: 69.25%;
}
select[name=marcacoche] {
    width: 130px;
}
input[type=color] {
    width: 50px;
    height: 15px;
}
